Repository wspotter/ag2: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-setup-scripts, lint, mypy, check-license-headers, generate-devcontainer-files

build-setup-scripts:
  name: build setup scripts
  entry: scripts/pre-commit-build-setup-files.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2
  - toml
  - ruff

lint:
  name: linting and formatting
  entry: scripts/pre-commit-lint.sh
  language: python
  require_serial: true
  verbose: true

mypy:
  name: mypy
  entry: ./scripts/pre-commit-mypy-run.sh
  language: python
  additional_dependencies: []
  require_serial: true
  verbose: true

check-license-headers:
  name: check license headers
  entry: python ./scripts/pre-commit-license-check.py
  language: python

generate-devcontainer-files:
  name: Generate devcontainer files
  entry: scripts/devcontainer/generate-devcontainers.sh
  language: python
  require_serial: true
  verbose: true
  additional_dependencies:
  - jinja2

Update mcp extra version (#1894)
  pyproject.toml
Due: none

Article - From Reasoning to Evaluation: Advanced ReAct Loops for Multi-Agent Essay Evaluation (#1888)
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image1.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image2.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image3.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/img/image4.png
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

ReAct blog post configuration (#1897)
  website/blogs_and_user_stories_authors.yml
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Add context variables to the user proxy agent in group chat (#1896)
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/patterns/pattern.py
  test/agentchat/group/test_group_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Change After Works on handoffs to a list of OnContextConditions (#1892)
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/handoffs.py
  autogen/agentchat/group/on_context_condition.py
  test/agentchat/group/test_group_utils.py
  test/agentchat/group/test_handoffs.py
  test/agentchat/group/test_on_context_condition.py
Due: build-setup-scripts, lint, mypy, check-license-headers

exclude names in transform (#1882)
  autogen/agentchat/contrib/capabilities/transforms.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update google-genai version in pyproject.toml (#1890)
  pyproject.toml
Due: none

Adding exclude names option in transform (tweaks) (#1898)
  autogen/agentchat/contrib/capabilities/transforms.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Blog formatting tweaks (#1899)
  website/docs/_blogs/2025-06-12-ReAct-Loops-in-GroupChat/index.mdx
Due: none

Fix trailing commas in devcontainer.json (#1876)
  .devcontainer/python-3.10/devcontainer.json
  scripts/devcontainer/templates/devcontainer.json.jinja
Due: generate-devcontainer-files

Devcontainer JSON tweaks (#1900)
  .devcontainer/devcontainer.json
  .devcontainer/python-3.11/devcontainer.json
  .devcontainer/python-3.12/devcontainer.json
  .devcontainer/python-3.13/devcontainer.json
Due: none

LMMTest fixes (#1902)
  autogen/agentchat/realtime/experimental/realtime_swarm.py
  autogen/oai/gemini.py
  autogen/oai/gemini_types.py
  autogen/oai/oai_models/chat_completion.py
  pyproject.toml
  test/agentchat/contrib/test_img_utils.py
  test/tools/experimental/reliable/test_reliable.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update version to 0.9.3 (#1901)
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: Add sender and recipient fields to TerminationEvent (#1908)
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/events/agent_events.py
  autogen/events/helpers.py
  autogen/messages/agent_messages.py
  test/events/test_agent_events.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: support context manager usage for LLMConfig (#1777)
  autogen/agentchat/contrib/agent_optimizer.py
  autogen/tools/experimental/browser_use/browser_use.py
  test/agentchat/contrib/test_agent_optimizer.py
  test/tools/experimental/browser_use/test_browser_use.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add searxng tool and websurfer (#1907)
  autogen/agents/experimental/websurfer/websurfer.py
  autogen/oai/gemini_types.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/searxng/__init__.py
  autogen/tools/experimental/searxng/searxng_search.py
  notebook/tools_searxng_search.ipynb
  test/tools/experimental/searxng/test_searxng.py
  website/docs/user-guide/reference-tools/index.mdx
  website/docs/user-guide/reference-tools/searxng-search.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Ag2 1905 add firecrawl web tool 20250620 (#1909)
  autogen/agents/experimental/websurfer/websurfer.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/firecrawl/__init__.py
  autogen/tools/experimental/firecrawl/firecrawl_tool.py
  notebook/tools_firecrawl.ipynb
  notebook/websurfer_firecrawl_example.ipynb
  test/agents/experimental/websurfer/test_websurfer.py
  test/tools/experimental/firecrawl/test_firecrawl.py
  website/docs/user-guide/reference-tools/firecrawl.mdx
  website/docs/user-guide/reference-tools/index.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Add streamable-http option to mcp client (#1914)
  autogen/mcp/helpers.py
  autogen/mcp/mcp_proxy/mcp_proxy.py
  notebook/mcp/mcp_proxy.ipynb
  templates/client_template/main.jinja2
  website/snippets/mcp/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Update link index.mdx (#1915)
  website/docs/_blogs/2025-01-31-WebSurferAgent/index.mdx
Due: none

Fix Gemini tool call message handling and handle failed responses with empty-content (#1916)
  autogen/oai/gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Introduce guardrails (#1840)
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/guardrails.py
  autogen/agentchat/group/targets/transition_target.py
  autogen/agentchat/groupchat.py
  test/agentchat/group/targets/test_transition_target.py
  test/agentchat/group/test_group_utils.py
  test/agentchat/group/test_guardrails.py
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/guardrails.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/introduction.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

add guardrails page to the sidebar (#1920)
  website/mint-json-template.json.jinja
Due: none

Bump to v0.9.4 (#1921)
  autogen/version.py
  notebook/mcp/math/math_server.py
  notebook/mcp/mcp_arxiv.py
  notebook/mcp/mcp_client.ipynb
  notebook/mcp/mcp_filesystem.py
  notebook/mcp/mcp_proxy.ipynb
  notebook/mcp/mcp_proxy_PokeAPI.ipynb
  notebook/mcp/mcp_proxy_asana.ipynb
  notebook/mcp/mcp_proxy_general.ipynb
  notebook/mcp/mcp_proxy_giphy.ipynb
  notebook/mcp/mcp_proxy_github.ipynb
  notebook/mcp/mcp_proxy_trello.ipynb
  notebook/mcp/mcp_proxy_whatsapp.ipynb
  notebook/mcp/mcp_wikipedia.py
  notebook/mcp/security/mcp_proxy_api_key_cookie.ipynb
  notebook/mcp/security/mcp_proxy_api_key_header.ipynb
  notebook/mcp/security/mcp_proxy_api_key_query.ipynb
  notebook/mcp/security/mcp_proxy_http_basic.ipynb
  notebook/mcp/security/mcp_proxy_http_bearer.ipynb
  notebook/mcp/security/mcp_proxy_http_oauth.ipynb
  templates/main.jinja2
Due: build-setup-scripts, lint, mypy, check-license-headers

MCP notebook and documentation fixes (#1925)
  notebook/agentchat_mcp_arxiv.ipynb
  notebook/agentchat_mcp_filesystem.ipynb
  notebook/agentchat_mcp_wikipedia.ipynb
  notebook/mcp/mcp_client.ipynb
  notebook/mcp/mcp_proxy.ipynb
  notebook/mcp/mcp_proxy_PokeAPI.ipynb
  notebook/mcp/mcp_proxy_asana.ipynb
  notebook/mcp/mcp_proxy_general.ipynb
  notebook/mcp/mcp_proxy_giphy.ipynb
  notebook/mcp/mcp_proxy_github.ipynb
  notebook/mcp/mcp_proxy_trello.ipynb
  notebook/mcp/mcp_proxy_whatsapp.ipynb
  notebook/mcp/security/mcp_proxy_api_key_cookie.ipynb
  notebook/mcp/security/mcp_proxy_api_key_header.ipynb
  notebook/mcp/security/mcp_proxy_api_key_query.ipynb
  notebook/mcp/security/mcp_proxy_http_basic.ipynb
  notebook/mcp/security/mcp_proxy_http_bearer.ipynb
  notebook/mcp/security/mcp_proxy_http_oauth.ipynb
  test/mcp/test_mcp.py
  website/snippets/mcp/client.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

[Feature] OAI responses api with multimodal input & output (#1917)
  autogen/code_utils.py
  autogen/oai/client.py
  autogen/oai/openai_responses.py
  notebook/agentchat_function_call_currency_converter_tool_api.ipynb
  notebook/agentchat_oai_responses_api_structured_output.ipynb
  notebook/agentchat_oai_responses_api_tool_call.ipynb
  notebook/agentchat_oai_responses_image.ipynb
  notebook/openai_responses_style_1.png
  notebook/openai_responses_style_2.png
  notebook/throw-exception-for-specific-error-messages.ipynb
  notebook/tools_firecrawl.ipynb
  notebook/tools_searxng_search.ipynb
  notebook/websurfer_firecrawl_example.ipynb
  test/oai/test_responses_client.py
  test/test_code_utils.py
  website/docs/user-guide/models/openai.mdx
  website/docs/user-guide/models/openai_responses.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

Test updates for LLM testing (#1930)
  autogen/agentchat/realtime/experimental/realtime_swarm.py
  test/oai/test_responses_client.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Update version to 0.9.5 (#1928)
  autogen/version.py
  notebook/openai_responses_style_3.png
Due: build-setup-scripts, lint, mypy, check-license-headers

4th July Release 0.9.5 (#1931)
  notebook/openai_responses_style_3.png
Due: none

change para name to avoid collision (#1937)
  autogen/mcp/mcp_proxy/mcp_proxy.py
  autogen/version.py
Due: build-setup-scripts, lint, mypy, check-license-headers

feat: Add configurable routing method to LLMConfig and OpenAIWrapper (#1936)
  autogen/llm_config.py
  autogen/oai/client.py
  test/oai/test_client.py
  test/test_llm_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Support container_create_kwargs in DockerCommandLineCodeExecutor (#1929)
  autogen/coding/docker_commandline_code_executor.py
  test/coding/test_commandline_code_executor.py
  test/coding/test_container_create_kwargs_unit.py
  website/docs/user-guide/advanced-concepts/code-execution.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Add Claude Code CLI to devcontainer setup (#1938)
  .devcontainer/setup.sh
Due: none

Python code execution tool (System/Venv/Docker) (#1371)
  autogen/environments/__init__.py
  autogen/environments/docker_python_environment.py
  autogen/environments/python_environment.py
  autogen/environments/system_python_environment.py
  autogen/environments/venv_python_environment.py
  autogen/environments/working_directory.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/code_execution/__init__.py
  autogen/tools/experimental/code_execution/python_code_execution.py
  website/docs/user-guide/reference-tools/code-execution.mdx
  website/mint-json-template.json.jinja
  website/snippets/reference-tools/code-execution-docker.mdx
  website/snippets/reference-tools/code-execution-system.mdx
  website/snippets/reference-tools/code-execution-venv.mdx
Due: build-setup-scripts, lint, mypy, check-license-headers

Improve documentation and test coverage for filter_config function (#1923)
  autogen/oai/openai_utils.py
  test/oai/test_utils.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Bugfix: Register MCP Tools Like MCP Resources (#1950)
  autogen/tools/tool.py
  test/mcp/test_mcp.py
Due: build-setup-scripts, lint, mypy, check-license-headers

fix: Ollama LLMConfig ValidationError on 'native_tool_calls' (#1951)
  autogen/oai/ollama.py
  test/oai/test_ollama.py
  test/test_llm_config.py
Due: build-setup-scripts, lint, mypy, check-license-headers

mitigate: Vulnerability CVE-2024-6982 severity High (#1963)
  autogen/oai/ollama.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add support for seed parameter for Gemini client (#1955)
  autogen/oai/gemini.py
  test/oai/test_gemini.py
Due: build-setup-scripts, lint, mypy, check-license-headers

Add comprehensive Grok integration support (#1962)
  autogen/oai/client.py
  notebook/agentchat_grok_example.ipynb
  website/docs/user-guide/models/grok-and-oai-compatible-models.mdx
  website/mint-json-template.json.jinja
Due: build-setup-scripts, lint, mypy, check-license-headers

Path conditions:
  build-setup-scripts: any of: \.py$, but not: dotnet
  lint: any of: \.py$, but not: dotnet
  mypy: any of: \.py$, but not: dotnet
  check-license-headers: any of: \.py$ and not ((?x)^(
  notebook/.* |
  website/.*
)$
) and not (dotnet)
  generate-devcontainer-files: any of: ^(scripts/devcontainer/.*)$, but not: dotnet
